.container {
  margin-top: 50px;
  width: 700px;
  min-height: 600px;
}

.productHeader {
  margin-bottom: 40px;
}

.dropArea {
  display: flex;
  align-items: center;
  height: 120px;
  border: 2px dashed #ced4da;
  border-radius: 10px;
}

.labelFont {
  font-size: 20px;
}

.optionImage {
  height: 100px;
  width: 100px;
}

.textarea {
  min-height: 130px;
}

.thumbImg {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.removeIcon {
  position: relative;
  top: -32px;
  right: 8px;
  color: #ff5e6d;
  cursor: pointer;
}