.container {
  margin-top: 50px;
  padding: 0 100px;
  min-height: 600px;
}

.contractHeader {
  margin-bottom: 40px;
}

.editButton {
  position: absolute;
  right: 100px;
}

.deleteButton {
  position: absolute;
  right: 160px;
}

.imageArea {
  height: 250px;
  min-width: 250px;
  display: inline-block;
  overflow: hidden;
}
.image {
  height: 248px;
  width: auto;
}

.contractNumber {
  font-size: 2rem;
  font-weight: 100;
}
