.container {
  margin-top: 50px;
  width: 700px;
  min-height: 600px;
}

.contractHeader {
  margin-bottom: 40px;
}

.labelFont {
  font-size: 20px;
}

.textarea {
  min-height: 130px;
}

.optionImage {
  height: 80px;
  width: 80px;
  padding-right: 5px;
}

.addButton, .addButton:hover {
  font-size: 15px !important;
  position: absolute !important;
  top: 0;
  right: 0;
  text-decoration: none !important;
}

.selectWithFormControl {
  padding: 0 !important;
  border: none !important;
}

.imageArea {
  height: 250px;
  min-width: 250px;
  display: inline-block;
  overflow: hidden;
}
.image {
  height: 248px;
  width: auto;
}

.numberInput {
  width: 100px !important;
}
