.slick-next:before {
  color: #6db4fe !important;
}

.slick-prev:before {
  color: #6db4fe !important;
}

.slick-dots {
  left: 0
}

.s-alert-box {
  border-radius: 10px;
}

.s-alert-close {
  display: none;
}
