.cardWhite {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-top: 100%;
  margin-top: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}

.cardWhite:hover {
  box-shadow: 0 0 15px 10px rgba(0, 155, 255, 0.2);
}

.cardContent {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardContent i {
  font-size: 50px;
  padding: 20px;
  color: #6c87ec;
}

.cardHeader {
  color: #4F4F4F;
  margin: 15px 0 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardEffects:hover {
  transform: translateY(-10px);
  transition-duration: .5s;
}

.fourLineEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.link {
  color: black;
}

.link:hover {
  color: black;
}

@media only screen and (max-width: 992px) {
  .cardContent i {
    font-size: 40px;
    padding: 15px;
  }
  .cardHeader {
    font-size: 18px !important;
  }
  .fourLineEllipsis {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 767px) {
  .cardContent i {
    font-size: 70px;
    padding: 20px;
  }
  .cardHeader {
    font-size: 32px !important;
  }
  .fourLineEllipsis {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 630px) {
  .cardContent i {
    font-size: 40px;
    padding: 15px;
  }
  .cardHeader {
    font-size: 18px !important;
  }
  .fourLineEllipsis {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 550px) {
  .cardContent i {
    font-size: 30px;
    padding: 10px;
  }
  .cardHeader {
    font-size: 16px !important;
  }
  .fourLineEllipsis {
    font-size: 12px !important;
  }
}
