.customLink {
  color: #0d00ec;
  text-decoration: none;
  min-height: 600px;
}

.customLink:hover {
  color: #6C87EC;
  text-decoration: none;
}

.container {
  padding: 150px 0;
}

.header {
  font-size: 50px;
}

.paragraph {
  font-size: 30px;
  padding: 20px 0;
}

.paragraphLinks {
  font-size: 20px;
}
