.container {
  margin-top: 50px;
  width: 700px;
}

.workHeader {
  margin-bottom: 40px;
}

.dropArea {
  height: 100px;
  line-height: 100px;
  border: 2px dashed #ced4da;
  border-radius: 10px;
}

.labelFont {
  font-size: 20px;
}

.selector {
  width: 150px !important;
}