.container {
  padding: 40px 0;
  min-height: 600px;
}

.header {
  font-size: 40px;
}

.dropArea {
  display: flex;
  align-items: center;
  height: 120px;
  border: 2px dashed #ced4da;
  border-radius: 10px;
}
