.container {
  margin-top: 50px;
  width: 700px;
  min-height: 600px;
}

.settingsHeader {
  margin-bottom: 40px;
}

.rate {
  font-size: 20px;
  font-weight: 500;
}
.rateGrowth {
  font-size: 10px;
  position: relative;
  top: 0;
  left: 0;
}
