.header {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  top: 0;
}

.link {
  padding: 10px;
  font-size: 18px;
  color: #eeeeee;
  text-decoration: none;
}

.link:hover {
  color: #a4a4a4;
  text-decoration: none;
}

.addLink {
  composes: link;
  padding-left: 0;
}

.login {
  composes: link;
  color: #6363d4;
}

.register {
  composes: link;
  color: #d04649;
}

.logoutImg {
  width: 25px;
  margin-right: 5px;
}

.logoutBtn {
  width: fit-content;
  margin-left: 10px;
}