.container {
  margin-top: 50px;
  width: 700px;
}

.form {
  width: 500px;
  margin: auto;
}

.contactHeader {
  font-size: 40px;
  padding-bottom: 30px;
}

.info {
  text-align: left;
  font-size: 20px;

}

.info i {
  width: 40px;
}

.infoBlock {
  padding: 20px;
}

.customLink {
  color: #0d00ec;
  text-decoration: none;
}

.customLink:hover {
  color: #6C87EC;
  text-decoration: none;
}
