.container {
  margin-top: 50px;
  padding: 0 100px;
  min-height: 600px;
}

.productHeader {
  margin-bottom: 40px;
}

.editButton {
  position: absolute;
  right: 100px;
}

.deleteButton {
  position: absolute;
  right: 160px;
}
