.container {
  margin-top: 50px;
  padding: 0 100px;
  min-height: 600px;
}

.productHeader {
  margin-bottom: 40px;
}

.editButton {
  position: absolute;
  right: 100px;
}

.deleteButton {
  position: absolute;
  right: 160px;
}

.row {
  padding-top: 30px;
  width: 1200px;
  display: inline-flex !important;
}

.image {
  width: 100%;
  height: auto;
}

.materialImage {
  width: 230px;
  height: 50px;
  margin: 5px auto;
}

.materialImage:hover {
    box-shadow: 0 0 8px 5px rgba(0, 155, 255, 0.3);
    cursor: pointer;
}

